@import 'tailwindcss';

@theme {
    --color-border: hsl(var(--border));
    --color-background: hsl(var(--background));
    --color-foreground: hsl(var(--foreground));

    --color-primary: hsl(var(--primary));
    --color-secondary: hsl(var(--secondary));

    --color-card: hsl(var(--card));
    
    --animate-fade-in: fade-in 0.7s ease-out forwards;
    --animate-fade-in-delay-1: fade-in 0.7s ease-out 0.2s forwards;
    --animate-fade-in-delay-2: fade-in 0.7s ease-out 0.4s forwards;
    --animate-fade-in-delay-3: fade-in 0.7s ease-out 0.6s forwards;
    --color-loader: hsl(var(--loader));

    @keyframes fade-in {
        from{
            opacity: 0;
            transform: translateY(40px);
        }
        to{
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@layer base{
 :root {
    --background: 210 40% 98%;
    --foreground: 222 47% 11%;

    --card: 0 0% 100%;

    --primary: 250 47% 60%;
    --secondary: 202 32% 47%;

    --border: 214 32% 91%;

    --loader: 270 19% 80%;
  }

  .dark{
    --background: 222 47% 4%;
    --foreground: 213 31% 91%;

    --card: 222 47% 8%;

    --primary: 250 65% 65%;
    --secondary: 213 31% 91%;

    --border:  217 33% 20%;

    --loader: 230 39% 39%;
  }

  * {
     border: var(--border);
  }

  html {
    scroll-behavior: smooth;
  }

  button {
    cursor: pointer;
  }

  body{
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: 'Inter', sans-serif;
  }

.font-serif{
    font-family: "Playfair Display", serif;
  }
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@utility text-glow {
  @apply relative;
  text-shadow: 0 0 10px rgba(167, 139, 250, 0.5)
}

@utility page-button {
  @apply bg-primary px-3 py-2 rounded-sm hover:bg-primary/80
}

@utility active-page{
  @apply bg-primary/40 px-3 py-2 rounded-sm
}

@utility page-setter {
  @apply flex flex-row gap-2 items-center justify-center bg-primary px-3 py-2 rounded-sm hover:bg-primary/80
}

@utility login-button {
  @apply bg-primary px-14 md:px-24 py-2 rounded-lg hover:bg-primary/60
}