@import 'tailwindcss';

@theme {
    --color-border: hsl(var(--border));
    --color-background: hsl(var(--background));
    --color-foreground: hsl(var(--foreground));

    --color-primary: hsl(var(--primary));
    --color-secondary: hsl(var(--secondary));

    --color-card: hsl(var(--card));

    --animate-fade-in:  fade-in 0.7s ease-out forwards;
    --animate-fade-in-delay-1: fade-in 0.7s ease-out 0.2s forwards;

    @keyframes fade-in {
        from{
            opacity: 0;
            transform: translateY(40px);
        }
        to{
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@layer base{
 :root {
    --background: 210 40% 98%;
    --foreground: 222 47% 11%;

    --card: 0 0% 100%;

    --primary: 250 47% 60%;
    --primary-foreground: 210 40% 98%;

    --border: 214 32% 91%
  }

  .dark{
    --background: 222 47% 4%;
    --foreground: 213 31% 91%;

    --card: 222 47% 8%;

    --primary: 250 65% 65%;
    --primary-foreground: 213 31% 91%;

    --border:  217 33% 20%;
  }

  * {
     border: var(--border);
  }

  html {
    scroll-behavior: smooth;
  }

  button {
    cursor: pointer;
  }

  body{
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: 'Inter', sans-serif;
  }

.font-serif{
    font-family: "Playfair Display", serif;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@utility text-glow{
  @apply relative;
  text-shadow: 0 0 10px rgba(167, 139, 250, 0.5)
}